* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f3f6;
}

/* Header */
.cart-header {
    background: #2874f0;
    color: white;
    padding: 20px 40px;
}

/* Main container */
.cart-container {
    display: flex;
    gap: 20px;
    padding: 30px 40px;
}

/* Cart items */
.cart-items {
    flex: 2;
}

.cart-item {
    display: flex;
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.cart-item img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    margin-left: 20px;
}

.item-details h3 {
    margin-bottom: 8px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}

.qty {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.qty button {
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.remove {
    color: #2874f0;
    font-size: 14px;
    text-decoration: none;
}

/* Price box */
.price-box {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 6px;
    height: fit-content;
}

.price-box h2 {
    margin-bottom: 15px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.free {
    color: green;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

.place-order {
    width: 100%;
    padding: 12px;
    background: #fb641b;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}

.place-order:hover {
    background: #e85b17;
}

.home {
    position: absolute;
    top: 25px;
    left: 25px;
    background: white;
    color: #081120;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.home:hover {
    background: #f1f1f1;
}

.cart{
    margin-left: 550px;
}
/* Responsive */
@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
        padding: 20px;
    }
}

